
.container {
    width: 100%;
    display: flex;
    padding: 88px 0px;
    justify-content: center;
}

.page-header-cont {
    max-width: 1052px;
}

.section-title {
    color: #FFFF;
    text-align: center;
    font-size: 32px;
}

.section-subtitle {
    font-size: 16px;
    color: #A8B7C6;
    font-weight: 400;
    text-align: center;
}

.section-content {
    display: block;
}

.dark-blue {
    background: #0B1726;
}

.navy-blue-gradient {
    background: linear-gradient(180deg, #111D40 0%, #0B1726 90%);
}

.navy-blue {
    background: #0B1726;
}

.title {
    display: flex;
    gap: 36px;
    justify-content: center;
    margin-bottom: 56px;
}

.ui-title {
    color: #038C8C;
    font-size: 8rem;
    font-weight: 800;
}

.designer-title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--Accent-Teal, #038C8C);
    color: #0B1726;
    word-wrap: break-word;
    font-size: 128px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.introduction-cont {
    display: flex;
    justify-content: center;
    gap: 88px;
}


.introduction h2,
.introduction p {
    color: #FFFF;
}

.introduction p {
    margin-bottom: 40px;
}

.profile-img-cont {
    width: 339px;
    height: 264px;
    flex-shrink: 0;
    border-radius: 48px;
}

.profile-img-cont img {
    border-radius: 48px;
}

.purple-btn {
    padding: 8px 24px;
    border-radius: 24px;
    background: #7D4DE3;
    color: #FFFF;
    text-decoration: none;
}

.center-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.photos-cont {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me-cont{
    max-width: 800px;
    margin: 0px auto 56px;
}

.about-me {
    width: 100%;
    color: #E6F2FD;
    font-size: 32px;
    font-weight: 700;
}

.about-me-subtitle {
    text-align: start;
}

.background-exp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.background-item {
    display: flex;
    align-items: flex-start;
    max-width: 336px;
    gap: 16px;
}

.item-icon {
    position: relative;
    top: 15px;
}

.item-title {
    color: #E6F2FD;
    font-size: 20px;
    font-weight: 700;
}

.item-desc {
    font-size: 16px;
    color: #E6F2FD;
    font-weight: 400;
}

.software-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 56px;
}

.software-cont {
    display: flex;
    justify-content: center;
    width: 112px;
    height: 128px;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 0px rgba(125, 77, 227, 0.30);
}

.figma {
    background: #000;
}

.adobe-illustrator {
    background: #300;
}

.photoshop {
    background: #001E36;
}

.id-logo {
    background: #49021F;
}

.w-logo {
    background: #002763;
}

.wordpress {
    background: #32373C;
}

@media (max-width: 1200px) {
    .ui-title, .designer-title {
        font-size: 100px;
    }

    .introduction-cont {
        padding: 20px;
    }

}

@media (max-width: 840px) {

    .title {
        flex-wrap: wrap;
    }
    
    .introduction {
        order: 1;
        text-align: center;
    }

    .introduction-cont {
        flex-wrap: wrap;
    }

    .profile-img-cont {
        order: 0;
    }

    .about-me, .about-me-subtitle {
        text-align: center;
    }
}
@media (max-width: 700px) {
    
    .background-exp {
        justify-content: center;
    }
}